git+https://github.com/spyder-ide/spyder-docs-sphinx-theme.git@develop_spyder
jinja2<3
pre-commit>=2.8.2
sphinx>=3,<4
sphinx-multiversion
sphinx-panels
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
